
// header {
//     background-color: rgba(0, 0, 0, 0) !important;
//     color: rgb(173, 178, 203);
//     width: 100%;
// }

.dropdown-item{
    cursor: pointer;
}
.dropdown-center{
    min-width: 200px;
    right: 0;
}
.dropdown .btn{
    padding: 0;
    width: 230px;
    background-color: transparent;
    border: none;
}
.btn p{
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0;
    
    font-size: 24px;
}




 




