html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .container-fluid {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  header.fixed-top {
    height: 60px;
    z-index: 1030; /* Ensure the header stays on top */
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .content-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-right: 300px; /* Adjust based on the width of the sidebar */
  }
  
  .content {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
  }
  
  .sidebar {
    width: 300px; /* Adjust based on desired width */
    position: fixed;
    right: 0;
    top: 60px;
    height: calc(100% - 60px); /* Adjust based on the height of the header */
    overflow-y: auto;
    padding: 1rem;
    z-index: 1020; /* Ensure the sidebar stays below the header */
    background-color: #f8f9fa;
    overflow: hidden;
  }
  