.table-responsive {
    overflow-x: auto;
    max-height: 800px; /* Chiều cao cố định của bảng */
    overflow-y: auto; /* Thêm thanh cuộn dọc */
}
.fixed-width {
    // table-layout: fixed;
    width: 120%;
}
.fixed-width th, .fixed-width td {
    width: 14.28%;
    word-wrap: break-word;
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white; /* Màu nền của tiêu đề cột */
  }