.container{
    padding: 30px;
    align-items: center;
    max-width: 100% !important;
    height: 100vh !important;
    background-color: #000000;
    color: #ffffff;
}

form{
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: #242527;
    color: #ffffff;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;

}
input{
    background-color: #242527;
    color: #ffffff;
}