<div class=" position-fixed " style="padding: 10px; border-radius: 10px;" *ngIf="isLoggedIn">
    <h2>Danh sách người dùng </h2>
    <select class="form-select form-select-sm" style="width: 60%;" aria-label="Small select example" [(ngModel)]="asc"
        name="asc" (change)="search()">
        <option value="true" [selected]="asc==true">Tăng dần</option>
        <option value="false" [selected]="asc==false">Giảm dần</option>
    </select>
    <select class="form-select form-select-sm" style="width: 60%;" aria-label="Small select example"
        [(ngModel)]="sortProperty" name="sortProperty" (change)="search()">
        <option value="userName" [selected]="sortProperty=='userName'">Tên người dùng </option>
        <option value="createdAt" [selected]="sortProperty=='createdAt'">Thời gian tạo</option>
    </select>
    <form class="d-flex mt-3 " role="search">
        <input class="form-control me-2 " type="search" placeholder="Tìm kiếm" aria-label="Search"
            [(ngModel)]="inputSearch" name="inputSearch">
        <button class="btn btn-outline-success" (click)="search()">Tìm </button>
    </form>
</div>
<div class="scrollbar-hidden " style="height: 350px; overflow-y: auto;margin-top: 185px;" *ngIf="isLoggedIn">
    <div class="container d-flex flex-column" style="min-height: 350px;">

        <div class="d-flex flex-row" *ngFor="let user of userList ">
            <div class="p-2">
                <img [src]="user.urlAvatar|| urlAvatarDefault" class="rounded-circle" alt="image" width="50"
                    height="50">

            </div>
            <div class="profile-name d-flex" style="cursor: pointer;">
                <p [routerLink]="['posts/',user.id]">{{user.username}}</p>
            </div>
        </div>
        <div>
            <mat-paginator [length]="totalElements" 
            [pageSize]="pageSize" 
            (page)="onPageChange($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>

</div>