
.post{
    background-color: #242527;
    border-radius: 10px;
    margin-bottom: 40px;
}

.carousel-item img {
    width: 100%; /* Đảm bảo ảnh rộng bằng 100% của thẻ chứa nó */
    max-height: 100vh; /* Đảm bảo ảnh cao bằng 100% của thẻ chứa nó */
    object-fit: contain; /* Đảm bảo ảnh được thu nhỏ hoặc phóng to sao cho nó vẫn nằm bên trong kích thước của thẻ */
}
#image-uploaded .carousel-inner .carousel-item img {
    width: auto; /* Đảm bảo ảnh rộng bằng 100% của thẻ chứa nó */
    max-height: 200px; /* Đảm bảo ảnh cao bằng 100% của thẻ chứa nó */
    object-fit: contain; /* Đảm bảo ảnh được thu nhỏ hoặc phóng to sao cho nó vẫn nằm bên trong kích thước của thẻ */
}
.react{
    background-color: rgb(71, 71, 44);
    justify-content: center;
    align-items: center;
}
.btn-create-post{
    border-radius: 10px;
    width: 90%;
    height: 50px;
}
.create-post{
    height: 100px;
    border-radius: 10px;
    background-color: #242527;
    margin-bottom: 20px;
}
.modal-content {
    background-color:#242527; /* Thiết lập màu nền tối */
    color: white; /* Thiết lập màu chữ trắng */
}
.modal-body{
    height: 600px;
}


